.close-menu {
  display: none;
}

@media (max-width: 815px) {
  .menu {
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    display: none;
  }

  .menu h2 a {
    font-size: 5rem;
  }

  .menu-content {
    flex-direction: column;
  }

  .menu ul {
    flex-direction: column;
    margin-top: 3rem;
  }

  .menu ul li {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .close-menu:checked ~ .menu {
    display: flex;
  }

  .close-menu:checked ~ .close-menu-label::after {
    content: "X";
  }

  .close-menu-label::after {
    content: "☰";
    position: fixed;
    z-index: 99;
    top: 2rem;
    right: 2rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .div-spacing {
    display: none;
  }

  .sectionIntro {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .sectionIntro div:first-child {
    padding: 5rem 0rem 9rem 0rem;
    width: 95%;
    margin-bottom: 5rem;
  }

  .sectionIntro div:first-child h1 {
    font-size: 4rem;
  }

  .sectionIntro div:first-child p {
    width: 100%;
  }

  .sectionIntro div:last-child {
    padding: 0 5rem;
  }

  .grid,
  .grid-galery {
    grid-template-columns: 1fr;
  }

  .grid-content-galery {
    align-items: center;
  }
}
