.scrollToTop {
  width: 6rem;
  height: 6rem;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.scrollToTop img {
  max-width: 95%;
  height: auto;
  transform: rotate(270deg);
  cursor: pointer;
}
